.display-info-container {
    border: 2px solid #333;
    padding: 20px;
    margin-top: 20px;
    background-color: pink;
}

.display-info-container {
    .user-info-title {
        color: red;
        text-decoration: underline;
    }

    img {
        width: 100px;
        height: auto;
        display: block;
        margin-bottom: 20px;
        margin-left: 60px;
    }
}