.admin-container{
    display: flex;
}

.admin-sidebar{
    /* reserve space for the fixed sidebar */
    width: 260px;
    flex: 0 0 260px;
    transition: all 0.3s ease;

    &.collapsed {
        width: 80px;
        flex: 0 0 80px;
    }
}
